{{title}} is running <br/>  Interpolation
<h1>{{name}}</h1>



<button [disabled]="isDisabled">Disabled</button> <!--Property Binding-->

<label>Name: <input type="text" [value]="fruits" (input)="fruits=getValue($event)"></label>

<p> You have entered {{fruits}}</p><!--Interpolation-->

<button (click)='clearFruits()'> Clear Fruits</button> <!--Event Binding-->

<app-employee></app-employee>
<app-customer></app-customer>



    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar header">
                <a class="navbar=brand" routerLink="Employee">Employee Works</a>
            </div>
<ul>
     <li routerLinkActive="active"><a routerLink='Employee'>Employee</a></li>
     <li routerLinkActive="active"><a routerLink='Customer'>Customer</a></li>
     <li routerLinkActive="active"><a routerLink='Supplier'>Supplier</a></li>
</ul>
</div>
   </nav>
     






<div class="container">
<router-outlet></router-outlet>
</div>


